#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row{
  display: flex;
}

.cell{
  width: 2em;
  aspect-ratio: 1;
  border: solid 1px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cell::-webkit-outer-spin-button,

.cell::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
